<div class="podium-card" [class.podium-green]="color === 'green'" [class.podium-red]="color === 'red'">
  <h2>{{ titulo }}</h2>
  
  <div *ngIf="rankingData && rankingData.length > 0; else noData" class="podium-container">
    
    <div *ngIf="rankingData[1]" class="podium-place second">
      <div class="podium-avatar">🥈</div>
      <div class="podium-name">{{ rankingData[1].name }}</div>
      <div class="podium-value">{{ rankingData[1].value | currency:'COP':'$' }}</div>
      <div class="podium-bar"></div>
    </div>

    <div *ngIf="rankingData[0]" class="podium-place first">
      <div class="podium-avatar">🥇</div>
      <div class="podium-name">{{ rankingData[0].name }}</div>
      <div class="podium-value">{{ rankingData[0].value | currency:'COP':'$' }}</div>
      <div class="podium-bar"></div>
    </div>

    <div *ngIf="rankingData[2]" class="podium-place third">
      <div class="podium-avatar">🥉</div>
      <div class="podium-name">{{ rankingData[2].name }}</div>
      <div class="podium-value">{{ rankingData[2].value | currency:'COP':'$' }}</div>
      <div class="podium-bar"></div>
    </div>
  </div>

  <ng-template #noData>
    <p class="no-data-message">No hay datos para este período.</p>
  </ng-template>
</div>